

/* Start CheckOut Billing*/

#checkout {
    padding-top: 8rem;
    height:auto;
    padding-bottom: 2rem;
}


.checkout-items {
    max-height: 450px; 
    overflow-y: auto; 
    padding-right: 10px; 
}

.checkout-items::-webkit-scrollbar {
    width: 0px;
}

.checkout-items::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.form-billing-data {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 3rem;
}

.form-billing-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color_bg);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2rem ;
}
.box_title {
    color: var(--color_font-heading);
    text-align: start;
    border-bottom: 2px solid var(--color_border);
    padding-bottom: 10px;
    font-family: var(--font-header);
}
.form-billing-input> h5 {
    font-size: 19px;
    padding-top: 15px;
}

#form-checkout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-billing-input .form-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.input_box {
    display: flex;
    flex-direction: column;
}

.input_box>label {
    display: flex;
    gap: .2rem;
    color: var(--color_font-pra);
    font-weight: 400;
    font-family: var(--font-text);
}

.input_box>label>span {
    color: var(--color-primary);
}

.input_box>input,
#otherInformation {
    background-color: #ad343e2c;
    border: none;
    padding: 9px 0px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: .7rem;
    appearance: none;
}
.input_box> input::placeholder {
    color: var(--color-primary);
}
#otherInformation {
    margin-top:10px;
}
.input_box>input,
#otherInformation::placeholder {
    color: var(--color_font-pra);
}

.input_box> h5 {
    color: var(--color_font-heading);
    font-family: var(--font-header);
    margin-bottom: 1rem;
}


.input-box-focus {
    outline: none; 
    box-shadow: var(--box-shadow);
    transition: box-shadow 0.3s ease;
}


/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
    .form-billing-data {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {

    .form-billing-data {
        grid-template-columns: repeat(1, 1fr);
    }

    .form-billing-input .form-input {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }


}

/* End CheckOut Billing*/


/* Start Checkbox Request */

.checkout-request {
    background-color: var(--color_bg);
    border: 2px solid var(--color_border);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: fit-content;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.checkout-request .checkout-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid var(--color_border);
}

.checkout-items .checkout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


.checkout-items .checkout-item .checkout-item-col {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.checkout-img {
    width: 70px;
    height: 60px;
    overflow: hidden;
}

.checkout-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.checkout-cart-data > p {
    max-width:180px;
}


.Checkout-price {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Checkout-price .checkout-price-col:nth-child(1) {
    font-weight: 500;
    color: var(--color_font-pra);
}

.Checkout-price .checkout-price-col:nth-child(2) {
    border-bottom: 2px solid var(--color_border);
    padding-bottom: 1rem;
}

.Checkout-price .checkout-price-col {
    display: flex;
    justify-content: space-between;
}


.checkout-price-col:nth-child(3) {
    color: var(--color_font-pra);
    font-weight: 500;
    font-size: 17px;
}
.input_radio {
    gap: .7rem;
    margin-top: 1.5rem;
}
.input_radio>label {
    display: flex;
    align-items: center;
    gap: 5px;
}


input[type="radio"] {
    appearance: none; 
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    cursor: pointer;
    /* border: none !important;
    outline: none !important;
    box-shadow: none !important; */
    margin-left: 1rem;
    width: 10px;
    height: 10px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}


input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 5px;
    height: 5px;
    background-color: var(--color-primary); 
    border-radius: 50%;
}

.btn_order {
    width: 100%;
    padding: 5px 0;
    margin-top: 10px;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;

}



/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
    .checkout-request {
        width: 60%;
    }

}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {
    .checkout-request {
        width: 100%;
        padding: 1rem;
    }
}

/* End Checkbox Request */


.bill_overlay_box {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bill-box {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    /* box-shadow:  0 4px 8px 0 #efbcc1b6, 0 6px 20px 0 #efbcc1b6; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.bill_info {
    width: 200px;
    padding: 1rem 0 2rem 0;
}

.order_data {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 2rem;
border-top: 1px dashed var(--color_border);

}

.order_data> p {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.order_data> p> span {
    font-weight: 500;
}




