
.menulist {
    padding-top: 1rem;
}
.menulist_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menulist_search {
    display: flex;
    align-items: center;
    gap: 20px;
}
.menulist_search> p {
    border: 1px solid rgb(206, 206, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: .3rem .5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Buttom Fillter Style*/

.menulist_filter {
    margin-top: 1rem;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: var(--color_bg_dash);
    padding: .5rem 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menulist_filter>button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 10px;
    /* background-color: white; */
    padding: .2rem 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    cursor: pointer;
}
.menulist_filter button.active {
    background-color: white;
}
.menulist_filter button.active > i {
    color: var(--color-primary);
    border: none;
    background-color: var(--color_third_bg);
}
.menulist_filter>button> p {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.menulist_filter>button> p > span {
    font-size: 12px;
    font-weight: 400 !important;
}
.menulist_filter>button>i {
    border: 1px solid rgb(172, 171, 171);
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
    font-size: 18px;

    height: 35px;

    cursor: pointer;
}




/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
        .menulist_filter {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;


        max-height: 70px;       
        overflow-y: auto;        
        overflow-x: hidden;
        scrollbar-width: none;

        .menulist_filter::-webkit-scrollbar {
            display: none;            
        }

        .menulist_filter > button {
            width: 100%;              
        }
    }


}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {

    .menulist_head {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
    .menulist_search > p {
        display: none;
    }
    .menulist_filter {
        justify-content: center;
        max-height: 70px;       
    }
}

.menulist_cards {
    background-color: var(--color_bg_dash);
    border-radius: 10px;
    height: auto;
    max-height: 100%;

    margin-top: 1rem;
    padding: 1rem;

    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    flex-wrap: nowrap;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    scrollbar-width: none; 
}
.menulist_card {
    box-shadow: var(--box-shadow);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;

    gap: .5rem;
    padding:.5rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    height: auto; 

}
.menulist_cards .menulist_card {
    flex: 0 0 calc(100% / 3.5);
    min-width: calc(100% / 3.5);
    white-space: normal;
}
.menulist_card .menulist_card_img {
    width: 100%;
    height: 100px;
    background-color: var(--color_bg_cart);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menulist_card .menulist_card_img> img {
    width: 100%;
    height: 100%;
}

.menulist_button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Counter Item Style */

.menulist_counter {
    background-color: var(--color-primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}


.menulist_counter> button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    font-weight:500;
    cursor: pointer;
    height: 30px;
    padding: 0 10px;
}


.menulist_counter> button:first-child {
    /* border-right: 1px solid rgb(195, 121, 121); */
    border-radius: 10px 0 0px 10px;
    -webkit-border-radius: 10px 0 0px 10px;
    -moz-border-radius: 10px 0 0px 10px;
    -ms-border-radius: 10px 0 0px 10px;
    -o-border-radius: 10px 0 0px 10px;
}

.menulist_counter> button:last-child {
    border-radius: 0px 10px 10px 0;
    -webkit-border-radius: 0px 10px 10px 0;
    -moz-border-radius: 0px 10px 10px 0;
    -ms-border-radius: 0px 10px 10px 0;
    -o-border-radius: 0px 10px 10px 0;
}

.menulist_button>button {
    border: none;
    height: 30px;
    padding: 0 10px;
    border: 1px solid var(--color_border);
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
    .menulist_cards {
        flex-wrap: wrap;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: normal;
        height: 510px; 
        justify-content: center;
    }


    .menulist_cards .menulist_card {
        flex: 0 0 calc(80% / 2);
        min-width: calc(80% / 2);
        white-space: normal;
    }

}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {
    .menulist_cards {
        flex-wrap: wrap;
        overflow-y: auto;
        overflow-x: hidden;
        white-space: normal;
        height: 270px; 
        justify-content: center;
    }
    .menulist_cards .menulist_card {
        flex: 0 0 calc(90% / 1);
        min-width: calc(90% / 1);
        white-space: normal;
    }
}

