.dashboard-stats {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    background-color: rgba(245, 200, 200, 0.268);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.stats-card {
    min-width: 250px; 
    width: 100%;       
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
}