
.sidebar {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    bottom: 26px;
    border-radius: 14px;
    width: 56px;
    background: rgba(24, 24, 24, 0.89);
    backdrop-filter: blur(10px);
    transition: width 0.45s;
}

.sidebar .sidebar-burger {
    border: 0;
    background: transparent;
    color: white;
    cursor: pointer;
}

.sidebar .material-symbols-outlined {
    font-size: 20px;
}

.sidebar.open {
    width: 180px;
}

.sidebar .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
}

.sidebar header {
    display: flex;
    align-items: center;
    height: 64px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 6px;
}

.sidebar-burger {
    width: 44px;
    height: 72px;
    display: grid;
    place-items: center;
    color: #ffffff;
}


.sidebar nav {
    display: grid;
    padding: 0 6px;
    gap: 2px;
}

.sidebar-link {
    display: flex;
    gap: 12px;
    align-items: center;
    height: 44px;
    width: 44px;
    padding: 0 12px;
    border-radius: 8px;
    opacity: 0.7;
    color: #ffffff;
    transition: 0.3s;
    text-decoration: none;
}
.submenu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 36px;
    padding: 0 8px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.75;
    font-size: 14px;
    border-radius: 8px;
    transition: 0.3s;
}
.submenu-link> p {
    color:white;
}
.sidebar-link:hover {
    background: rgb(255 255 255 / 6%);
    opacity: 1;
}

.sidebar-link p {
    opacity: 0;
    color:white;
    pointer-events: none;
    transition: 0.25s;
    margin-bottom: 0 !important;
}

.sidebar.open .sidebar-link {
    width: 100%;
}

.sidebar.open .sidebar-link p {
    opacity: 1;
}

.submenu {
    display: flex;
    flex-direction: column;

    gap: 2px;
    max-height: 0;
    overflow: hidden;
    padding-left:1rem ;
    opacity: 0;

}

.submenu.show {
    max-height: 100px;
    opacity: 1;

}



.submenu-link>p {
    margin: 0 !important;
}
.submenu-link:hover {
    background: rgb(255 255 255 / 6%);
    opacity: 1;
}
.submenu-btn {
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
}

.sidebar .submenu {
    display: none;
    position: relative;
}

.sidebar.open .submenu.show {
    display: block;
    position: relative;
}