
.contant_container {
    display: grid;
    place-items: center;
}


.review_head > h2 {
    color: var(--color_font-heading);
}

.contact_boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}


.review_box_form {
    display: flex;
    flex-direction: column;
    width: 400px;

    background-color: var(--color_bg);
}
.review_box_data> p {
    width: 400px;
}










/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
    .contact_boxs {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.review_box_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review_box_data> p {
    text-align: center;
}
}