.review_Message_head {
    display:flex;
    justify-content: space-between;
}

.feedbacks_data {
    border-top: 2px solid var(--color_border);
    padding: 10px 0;
}
.feedbacks_data > p > span {
    font-weight: 500 !important;
    color: var(--color_font-heading) !important;
}
/* .feedback_cards {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2rem;
} */

.feedback_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.feedback_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;
}

.feedback_control {
    border-top: 2px solid var(--color_border);
    padding-top: 1rem;
}
.feedback_btn1 {
    font-size: 17px;
    border: 1px solid rgb(180, 180, 180);
    color: rgb(180, 180, 180);
}
.feedback_btn1:hover{
    font-size: 17px;
    border: 1px solid rgb(180, 180, 180);
    color: rgb(180, 180, 180);
}
.feedback_btn2 {
    font-size: 17px;
    border: 1px solid var(--color_border);
    color: var(--color-primary);
}
.feedback_btn2:hover{
    font-size: 17px;
    border: 1px solid var(--color_border);
    color: var(--color-primary);
}
.message_text {
    min-height: 70px !important; 
    overflow-y: auto !important;  
    padding-right: 5px;
    line-height: 1.3;  
}