/* Pages Style */
#Pages {
    display:flex;
}
.pages_content.sidebar-open {
    margin-left: 190px; 
}
.pages_content {
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    margin-left: 70px; 
    transition: 0.4s;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#navbar {
    background: rgba(174, 174, 174, 0.12);
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.pages_routes {
    background: rgba(180, 180, 180, 0.12);
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}