/* Pages Style */
#Pages {
    display: flex;
    gap:4rem;
    height: 100vh;
    width: 100%;
}
.pages_content.sidebar-open {
    margin-left: 140px; 
}
.pages_content {
    flex:1;
    height: 100vh;
    padding: 1.5rem;
    transition: 0.4s;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
}
#navbar {
    background: rgba(174, 174, 174, 0.12);
    padding: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    flex-shrink: 0; 
}
.pages_routes {
    flex: 1; 
    overflow-y: auto;
    background: rgba(180, 180, 180, 0.12);
    padding:1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    scrollbar-width: none; 
}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {
    .pages_content {
        padding: 1rem;
    }
}

@media screen and (max-width:360px) {
    .pages_routes {
        height: 100%; 
        overflow-y: auto;
        overflow-x: hidden;
    }

}