
#ourmenu {
    margin-top: 3rem;
}
.ourmenu_container {
    display: flex;
    justify-content: center;
    align-items: center;    
}
.ourmenu_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ourmenu_header {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.ourmenu_header .ourmenu_btn {
    border: none;
    background-color: transparent;
    color: var(--color-primary);}



/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {

}