#hero {
    /* height: 89vh; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 4rem;
}

.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
}

.hero_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
}
.hero_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.hero_text p:first-child {
    color: var(--color-primary);
    font-weight: bold;
    font-family: var(--font-menu);
}
.hero_text h1 {
    width: 500px;
    font-weight: 400 ;
    font-size: 65px;
    font-family: var(--font-header);
    line-height: 1.2;
}
.hero_text h1 >span {
    color: var(--color-primary);
}
.hero_text > p:nth-of-type(2) {
    margin-top: 15px;
    width: 450px;
    color: #292929;
    font-family: var(--font-text);
}

.hero_btn {
    border: none;
    background-color: var(--color-primary);
    color: white;
    padding: 7px 15px;
    margin-top: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.hero_cards {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}
.hero_card {
    width: 160px;
    background-color: rgba(255, 255, 255, 0.346);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-top: 50px;
    position: relative;
}

.hero_card_img {
    width: 120px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: -50px; 
    left: 50%;
    transform: translateX(-50%);
}
.hero_card_img img {
    width: 100%;
    border-radius: 10px;
}

.hero_card_text {
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
}
.hero_card_text > p {
    display: flex;
    justify-content: space-between;
    color: rgb(52, 52, 52);
    font-family: var(--font-text);
}
.Hero_star {
    color: var(--color_star);
}

.hero_img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3rem;
}
.hero_img img {
    width: 500px;
    height: 100%;
}



/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
    #hero {
        height: auto;
        padding: 2rem 0;
    }

    .hero_img {
        display: none;
    }
    .hero_cards {
        display: none;
    }
    .hero {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .hero_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }
    .hero_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {
    #hero {
        height: auto;
        padding: 0rem 0 2rem 0;
    }
    .hero_text h1 {
        width: 350px;
        font-weight: 300;
        font-size: 55px;
    }

    .hero_text > p:nth-of-type(2) {
        margin-top: 10px;
        width: 350px;
        color: #292929;
    }

}
