@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none;
    text-decoration:none;
}

html {
    scroll-behavior: smooth;
}


:root {

    /* Colors */
    --color-primary: #ad343e;
    --color_font-pra: #414536;

    --color_font-heading: #2C2F24;
    --color_font:#58b4bb33;
    --color_star:#fea408;



    /* Colors background */
    --color_bg:rgba(255, 255, 255, 0.346);
    --color_bg_cart:#ad343e5c;
    --color_input_bg:#ad343e2c;
    --color_second_bg: linear-gradient(180deg, #fde8de9b 0%, #fff5ef 100%);
    --color_third_bg:rgba(245, 200, 200, 0.7);


    /* Color border */
    --color_border:#ad343e5c;


    /* Font */
    --font-heading: "IBM Plex Mono", monospace;
    --font-menu: "Playwrite DE SAS", cursive;

    --font-header: "Playfair Display", serif;
    --font-text: "DM Sans", serif;

    /* Box Shadow */
    --box-shadow: 0 4px 8px 0 #e7adb2b6, 0 6px 20px 0 #e7adb2b6;

    /* Responsive */

    --container-width-lg: 85%;
    --container-width-md: 90%;
    --container-width-sm: 95%;

}


.container_box {
    width: var(--container-width-lg);
    margin: 0 auto; 
}
h1,
h2 {
    font-family: var(--font-header);
    color: var(--color_font-heading);
    margin-bottom: 0 !important;
}

h4,
h5,
h3,
h6 {
    font-family: var(--font-text);
    margin-bottom: 0 !important;
}

a {
    text-decoration: none !important;
}

p{
    margin-bottom: 0 !important;
    color: var(--color_font-pra)
}
/* Backgroun HomePage */
#background_home{
    min-height: 100vh;
    height: auto; 
    background-image: url(/src/assets/Images/pizza-bg1.jpg);
    background-position: top left;
    background-size: cover;
    backdrop-filter: blur(0px);
    overflow-x: hidden;
    position: relative;
}
section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height:auto;
    background: rgba(245, 200, 200, 0.7);
    backdrop-filter: blur(10px);
    padding-top: 5rem;

}




/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
    .container_box {
        width: var(--container-width-md);
    }

}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {
    .container_box{
        width: var(--container-width-sm) !important;
    }
}


@media (min-width: 576px) {
    .container, .container-sm {
        max-width:  var(--container-width-sm) !important;
        width: var(--container-width-sm);
    }
}
