
.profile_page {
    padding: 2rem 0;
}

.profile_boxs {
    display: grid;
    grid-template-columns: 18% 80%;
    gap: 2rem;
    min-height: 550px;
}


.profile_box_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color_bg);
    padding: 3rem 1rem ;
    /* gap: 3rem; */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.profile_box_left>h4 {
    color:var(--color_font-pra);
}
.profile_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.profile_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile_links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.profile_links> a {
    color: var(--color_font-pra);
    font-size: 17px;
    font-weight: 500;

    position: relative;
    padding: 8px 12px 8px 12px;
    transition: all 0.3s ease;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.profile_links> a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    width: 3px;
    background-color: var(--color_input_bg);
    border-radius: 2px;
    transition: all .6s ease;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.profile_links > a:hover::before,
.profile_links > a.active::before {
    width: 100%;
    background-color: var(--color_input_bg);
    /* color: white !important; */
    color: var(--color_font-pra);
}
.profile_links > a:hover,
.profile_links > a.active {
    /* color: white !important; */
    color: var(--color_font-pra);
}


/* Button Style */
.profile_links > button.logout_btn {
    color: var(--color_font-pra);
    font-size: 17px;
    font-weight: 500;
    position: relative;
    padding: 8px 12px;
    transition: all 0.3s ease;
    z-index: 1;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    text-align: start;
}

.profile_links > button.logout_btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 3px;
    background-color: var(--color_input_bg);
    border-radius: 2px;
    transition: all 0.6s ease;
    z-index: -1;
}

.profile_links > button.logout_btn:hover::before {
    width: 100%;
    background-color: var(--color_input_bg);
    color: var(--color_font-pra);

}

.profile_links > button.logout_btn:hover {
    color: var(--color_font-pra);

}



/* Right Box */
.profile_box_right {
    background-color: var(--color_bg);
    border-radius: 20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;


    max-height: 550px; 
    overflow-y: auto;
}
.profile_box_right::-webkit-scrollbar {
    width: 0px;
}


.profile_box_right> h4 {
padding-bottom: 1rem;
border-bottom: 2px solid var(--color_border);
}



#profile_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.profile_input_boxs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.profile_input_box {
    display: flex;
    flex-direction: column;
}
.profile_input_box>label {
    color: var(--color_font-pra);
    font-weight: 400;
    font-family: var(--font-text);
    margin-bottom: 5px ;
}

.profile_input_box > .form-control {
    background-color: var(--color_input_bg);
    border: none;
    padding: 9px 0px;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: .7rem;
    appearance: none;
}

.profile_input_box > input:focus{
    outline: none;
    border: none;
    box-shadow: var(--box-shadow);
    background: var(--color_input_bg);
    transition: box-shadow 0.3s ease;
}

.prifile_input_box> input::placeholder {
    color: var(--color-primary);
}

#profile_btn {
    display: flex;
    justify-content: flex-end;
}
#profile_btn .profile_btn {
    border: none;
    padding: 7px 10px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent !important; 
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important; 
    transition: background-color 5000s ease-in-out 0s; 
}


input[disabled] {
    background-color: var(--color_input_bg) !important; 
    cursor: not-allowed;
}

.alert_error_userInfo {
    color: rgb(217, 18, 18);
    height: 0px !important;
}



/* Media Queries (Media Device) */

@media screen and (max-width:1024px) {
    .profile_page {
        padding-top: 2.6rem;
        min-height: 94.4vh;
    }
    .profile_boxs {
        display: grid;
        grid-template-columns: 30% 67%;
        gap: 2rem;
    }
    .profile_input_boxs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

}

/* Media Queries (Small Device) */

@media screen and (max-width:600px) {

    .profile_boxs {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto; 
        gap: 1rem;
    }

    .profile_box_left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color_bg);
        padding: .5rem 1rem ;



        height: 100px; 
        min-height: 100px;
    }

    .profile_box_right {
        height: auto; 
        min-height: calc(100vh - 200px); 
    }

    .profile_img {
        display: none;
    }


    .profile_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0 !important;
    } 


}







